@if(loading == true) {
<app-loading-bar></app-loading-bar>
} @if(loading == false) {

<div class="container mt-3">
    <div class="title">

        <h4>Listado de teatros:</h4>
    </div>


    <div class="table-responsive mt-2">
        <table class="table table-hover table-sm text-start">
            <thead class="table-light">
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">TEATRO</th>
                    <th scope="col">DIRECCIÓN</th>
                    <th scope="col">TELÉFONO</th>
                    <th scope="col">AFORO</th>
                    <th scope="col">ACCESIBLE</th>
                    <th scope="col">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @for (theatre of listTheatres; track theatre.id) {
                <tr class="table-row">
                    <!-- <th scope="row">{{theatre.id}}</th> -->
                    <th scope="row">{{theatre.name}}</th>
                    <td>{{theatre.address}}</td>
                    <td class="text-nowrap">{{theatre.phone}}</td>
                    <td>{{theatre.seat_count}}</td>
                    <td>
                        @if(theatre.accessible == true) {
                        SI
                        } @else {
                        NO
                        }
                    </td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-outline-warning"
                            [routerLink]="['/edit', theatre.id]">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-danger mx-2"
                            (click)="deleteTheatre(theatre.id!)">Delete</button>

                    </td>
                </tr>
                }


            </tbody>
        </table>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar</button>

    </div>
</div>
}