<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">  
    <div class="row ">
      <div class="" id="navbarColor02">
        <ul class="navbar-nav justify-content-space-between">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <img src="bulb.ico" alt="logo" height="40px">

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map">
              <img src="earth.ico" alt="logo" height="40px">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="full-calendar">
              <img src="report.ico" alt="logo" height="40px">

            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="graficos"></a>
            <img src="company.ico" alt="logo" height="40px">
          </li>

        </ul>

      </div>
    </div>

</nav>