<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <img src="bulb.ico" alt="logo" height="40px">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarColor02">
        <ul class="navbar-nav justify-content-space-between">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="full-calendar">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="graficos">Gráficos</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>