<div class="container container-fluid mt-3">
    <div class="row ">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="crud" class="text-decoration-none">
                <div class="card">
                    <img src="assets/table.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">CRUD</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="map" class="text-decoration-none">
                <div class="card">
                    <img src="assets/map.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Mapa</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="graficos" class="text-decoration-none">
                <div class="card">
                    <img src="assets/chart.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Gráficos</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="full-calendar" class="text-decoration-none">
                <div class="card">
                    <img src="assets/calendar.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Calendar</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
