<div class="container">

    <div class="container container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="card mb-3" style="max-width: 25rem;">
                    <div class="card-header">{{action}} evento</div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <label class="mt-2" for="title">Título del evento</label>
                            <input formControltitle="title" type="text" class="form-control" id="title"
                                [ngClass]="{
                                'is-invalid': 
                                form.get('title')?.invalid && 
                                form.get('title')?.touched
                              }" >
                            @if(form.get('title')?.invalid &&
                            form.get('title')?.touched) {
                            <div class="text-danger">
                                @if(form.get('title')?.errors?.['required']) { Fecha de inicio requerida }
                            </div>
                            }
                            <label class="mt-2" for="description">Descripción</label>
                            <input formControltitle="description" type="text" class="form-control"
                                placeholder="Descripción del evento" >

                            <label class="mt-3" for="start">Fecha/hora de inicio</label>
                            <input id="start" formControlName="start" class="form-control" type="datetime-local" placeholder="Inicio"
                                [ngClass]="{
                                'is-invalid':
                                  form.get('start')?.invalid &&
                                  form.get('start')?.touched
                              }">
                            @if(form.get('start')?.invalid &&
                            form.get('start')?.touched) {
                            <div class="text-danger">
                                @if(form.get('start')?.errors?.['required']) { Fecha de inicio requerida }
                            </div>
                            }
                            <label class="mt-2" for="start">Fecha/hora de finalización</label>
                            <input id="start" formControlName="start" class="form-control" type="datetime-local" placeholder="Inicio"
                                [ngClass]="{
                                'is-invalid':
                                  form.get('start')?.invalid &&
                                  form.get('start')?.touched
                              }">
                            @if(form.get('start')?.invalid &&
                            form.get('start')?.touched) {
                            <div class="text-danger">
                                @if(form.get('start')?.errors?.['required']) { Fecha de finalización requerida }
                            </div>
                            }
                            <label class="mt-3" for="color">Color:</label>
                            <input id="color" formControlName="color" class="form-control form-control-color mx-2" type="color" >
                            @if(form.get('color')?.invalid &&
                            form.get('color')?.touched) {
                            <div class="text-danger">
                                @if(form.get('color')?.errors?.['required']) { title is
                                required }
                            </div>
                            } 

                        </form>

                        <div class="row mt-4 text-center">
                            <div class="col-6">
                                <a class="btn btn-sm btn-secondary" routerLink="/full-calendar">Volver</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" (click)="addEvent()"
                                    class="btn btn-sm btn-primary">Aceptar</button>
                            </div>
                        </div>


                        @if(errorMessage){
                        <span class="d-flex justify-content-center">
                            <div class="text-danger">
                                {{ errorMessage }}
                            </div>
                        </span>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>