.progress-bar {
    background-color: darkslategrey;
    color-scheme: red;
    width: 100%;
    border-radius: 0;
    margin:0;
}
.progress {
position:absolute;
    width: 100%;
    border-radius: 0;
    margin:0;
}