<div class="container mt-4">
   



    <div class="row d-flex">
        <div class="col-4" id="map"></div>
        <div class="col-4 filters">
            

            <div class="row card ms-2">
                <button class="btn btn-outline-dark " (click)="getLocation()">
                    <i class="bi bi-crosshair2"></i>Mostrar mi geolocalización
                </button>
                
            </div>
            <div class="row card ms-2">
                <button class="btn btn-outline-dark " (click)="getTheatresLocations()">
                    <i class="bi bi-ticket-perforated"></i>Mostrar teatros guardados
                </button>

                
            </div>
            <div class="row card card border-dark ms-2">
                <div class="card-header">Filtrar por accesibilidad</div>
                <div class="card-body">
                    <div class="form-check">

                        <input class="form-check-input" type="checkbox" value="accessible" id="accessible"
                            (change)="filterTheatres($event)">
                        <label class="form-check-label" for="flexCheckDefault">
                            Teatros accesisbles
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="noAccessible" id="noAccesible"
                            (change)="filterTheatres($event)">
                        <label class="form-check-label" for="flexCheckChecked">
                            Teatros No accesibles
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>