<div class="container mt-4">
    <div class="row d-flex">
        <button class="btn btn-outline-dark col-3" (click)="getLocation()">
            <i class="bi bi-crosshair2"></i>Mostrar mi geolocalización
        </button>
        <button class="btn btn-outline-dark col-3 ms-2" (click)="getTheatresLocations()">
            <i class="bi bi-ticket-perforated"></i>Mostrar teatros guardados
        </button>

    </div>


</div>
<div class="row" id="map">
</div>
<div class="row d-flex">
    <div class="col-3 card ms-2">
        <div class="card-header">Filtrar por accesibilidad</div>
        <div class="card-body">
            <div class="form-check">

                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Teatros accesisbles
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Teatros No accesibles
                </label>
            </div>
        </div>
    </div>
    <div class="col-3 card ms-2">
        <div class="card-header">Filtrar por accesibilidad</div>
        <div class="card-body">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Teatros grandes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Teatros medianos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Teatros pequeños
                </label>
            </div>
        </div>
    </div>
</div>