@import "bootstrap-icons/font/bootstrap-icons.css";

#map {
    height: 75vh;
    width: 100%;
    max-width: 600px;
    margin: 1rem;
}

.bi {
    color: black;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.card {
    margin: 1rem;
    width: 100%;
    border-radius: 0;
    background-color: #eef8f3;

    
}

.card-header {
    background-color: #c0dcce;
    border-bottom: 1px solid #dee2e6;
}

.btn {
    background-color: #c0dcce;
    
}